*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dot-button{
    height: 10px !important; 
    width: 10px !important;
    border-radius: 50%; 
}

.forgot-form{
    height: 95%;
    padding-left: 30px;
    padding-right: 30px;
} 

#hedding{
    color: #414141;
    font-size: 1.37rem;
}

img{
    max-height: 100vh;
}

#forgot-password-description{
    font-size: 0.875rem;
    color: #414141;
}

#reset-password-button{
    font-size: 1.063rem;
    width: 100%;
    border-color: #f88634;
    color: #f88634;
}

#reset-password-button:hover{
    background-color: #f88634;
    color: white;
}

a{
    font-size: 0.875rem;
    text-decoration: none !important;
}

#login-text{
    font-size: 0.875rem;
    color: #414141;
}

.privacy-policy{
    font-size: 0.875em;
    color: #414141;
}